.all-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 10px;

}
.card img{
    width: 100%;
}
.cl{
    color: #585858;
}
.arrow-btn{
background: #FEF7F7;
border-radius: 50%;
width: 50px;
height: 50px;
}
.arrow-btn i{
    color: #EB5757;
}